.leftbox{
    box-sizing: border-box;
    margin: 0;
    align-items: left;
    justify-content: left;
}

.middlebox{
    box-sizing: border-box;
    margin: 0;
    align-items: middle;
    justify-content: middle;
}

.rightbox{
    box-sizing: border-box;
    margin: 0;
    align-items: right;
    justify-content: right;
}
