{% extends 'base.html' %}
{% block content %}
    <h2>Profile Saved Successfully</h2>
    <p>Thank you, {{ name }}. Your profile has been saved.</p>
    <div>
        <h3>Your Profile Information:</h3>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Age:</strong> {{ age }}</p>
        <p><strong>Favorite Game:</strong> {{ game }}</p>
        
    </div>
    <a href="{{ url_for('profile') }}">Create Another Profile</a>
    <a href="{{ url_for('addComments') }}">Create Another Profile</a>
    <form method="post">

   
    <div>
        <label for="comments">Care to comment on why this is the best game</label>
        <textarea id="comments" name="comments" rows="4"></textarea>
    </div> 
</form>
{% endblock %}